@model List<BYR.Models.User>

<!--=====================
          Content
======================-->
<style>
    .CSSTableGenerator {
        margin: 0px;
        padding: 0px;
        width: 100%;
        box-shadow: 10px 10px 5px #888888;
        border: 1px solid #000000;
        -moz-border-radius-bottomleft: 21px;
        -webkit-border-bottom-left-radius: 21px;
        border-bottom-left-radius: 21px;
        -moz-border-radius-bottomright: 21px;
        -webkit-border-bottom-right-radius: 21px;
        border-bottom-right-radius: 21px;
        -moz-border-radius-topright: 21px;
        -webkit-border-top-right-radius: 21px;
        border-top-right-radius: 21px;
        -moz-border-radius-topleft: 21px;
        -webkit-border-top-left-radius: 21px;
        border-top-left-radius: 21px;
    }

        .CSSTableGenerator table {
            border-collapse: collapse;
            border-spacing: 0;
            width: 100%;
            height: 100%;
            margin: 0px;
            padding: 0px;
        }

        .CSSTableGenerator tr:last-child td:last-child {
            -moz-border-radius-bottomright: 21px;
            -webkit-border-bottom-right-radius: 21px;
            border-bottom-right-radius: 21px;
        }

        .CSSTableGenerator table tr:first-child td:first-child {
            -moz-border-radius-topleft: 21px;
            -webkit-border-top-left-radius: 21px;
            border-top-left-radius: 21px;
        }

        .CSSTableGenerator table tr:first-child td:last-child {
            -moz-border-radius-topright: 21px;
            -webkit-border-top-right-radius: 21px;
            border-top-right-radius: 21px;
        }

        .CSSTableGenerator tr:last-child td:first-child {
            -moz-border-radius-bottomleft: 21px;
            -webkit-border-bottom-left-radius: 21px;
            border-bottom-left-radius: 21px;
        }

        .CSSTableGenerator tr:hover td {
        }

        .CSSTableGenerator tr:nth-child(odd) {
            background-color: #e5e5e5;
        }

        .CSSTableGenerator tr:nth-child(even) {
            background-color: #ffffff;
        }

        .CSSTableGenerator td {
            vertical-align: middle;
            border: 1px solid #000000;
            border-width: 0px 1px 1px 0px;
            text-align: left;
            padding: 10px;
            font-size: 10px;
            font-family: Verdana;
            font-weight: bold;
            color: #000000;
        }

        .CSSTableGenerator tr:last-child td {
            border-width: 0px 1px 0px 0px;
        }

        .CSSTableGenerator tr td:last-child {
            border-width: 0px 0px 1px 0px;
        }

        .CSSTableGenerator tr:last-child td:last-child {
            border-width: 0px 0px 0px 0px;
        }

        .CSSTableGenerator tr:first-child td {
            background: -o-linear-gradient(bottom, #999999 5%, #666666 100%);
            background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #999999), color-stop(1, #666666) );
            background: -moz-linear-gradient( center top, #999999 5%, #666666 100% );
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#999999", endColorstr="#666666");
            background: -o-linear-gradient(top,#999999,666666);
            background-color: #999999;
            border: 0px solid #000000;
            text-align: center;
            border-width: 0px 0px 1px 1px;
            font-size: 14px;
            font-family: Georgia;
            font-weight: bold;
            color: #ffffff;
        }

        .CSSTableGenerator tr:first-child:hover td {
            background: -o-linear-gradient(bottom, #999999 5%, #666666 100%);
            background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #999999), color-stop(1, #666666) );
            background: -moz-linear-gradient( center top, #999999 5%, #666666 100% );
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#999999", endColorstr="#666666");
            background: -o-linear-gradient(top,#999999,666666);
            background-color: #999999;
        }

        .CSSTableGenerator tr:first-child td:first-child {
            border-width: 0px 0px 1px 0px;
        }

        .CSSTableGenerator tr:first-child td:last-child {
            border-width: 0px 0px 1px 1px;
        }
</style>



<div class="CSSTableGenerator">
    <table>

        <tr>
            <td>
                Id
            </td>
            <td>
                First Name
            </td>
            <td>
                last Name
            </td>
            <td>
                Email
            </td>
            <td>
                UserName
            </td>
            <td>
                Status
            </td>
            <td>
                Change Status
            </td>
            <td>
                Delete User
            </td>
        </tr>
        @{
       
                if(Model.Count != 0)
                {
                foreach(var User in Model) {

               
                <tr>
                    <td>
                        @User.Id
                    </td>
                    <td>
                        @User.firstName
                    </td>
                    <td>
                        @User.lastName
                    </td>
                    <td>
                        @User.email
                    </td>
                    <td>
                       @User.username
                    </td>
                    <td>

                       @User.status
                    </td>
                    <td>
                        @{ 
                            if (@User.status == "Active")
                            {
                                @Html.ActionLink("Disable User", "BlockUser" , new { id = User.Id  })


                            }
                            else
                            {
                                @Html.ActionLink("Active User", "ActiveUser", new { id = User.Id })
                            }
                        }
                        
                    </td>
                    <td>

                        @Html.ActionLink("Delete User", "DeleteUser", new { id = User.Id })
                    </td>


                </tr>
                 }
                } else{
               
                <h1 align="center"> No result found </h1>
               
                }
        }
    </table>
</div>

<!--==============================
              footer
=================================-->
